@-moz-document url(about:blank), url(about:newtab), url(about:home) {
    html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay {
        background: var(--theme-background-primary) !important;
    }
}

@-moz-document url("about:home"),url(about:preferences),url("about:blank"),url("about:newtab"),url("about:privatebrowsing") {
    body {
        background-color: var(--theme-background-primary) !important;
        --newtab-search-icon: transparent !important;
    }
    a, a:visited, a:hover{
        color: var(--theme-background-primary) !important
    }
    #newtab-search-text {
        background-color: var(--theme-background-primary) !important;
        font-size: 18px !important;
        color: var(--theme-text-primary) !important;
        box-shadow: none !important;
        text-align: center !important;
        border:none !important;
    }
    .search-wrapper input {
        --newtab-textbox-focus-boxshadow: none !important;
        padding-left: 20px !important;
        padding-inline-end: 13px !important;
    }
    .wordmark {
        display:none !important;
    }
    .logo {
        align-items: center!important;
        display: grid!important;
        justify-content: center!important;
    }
    .search-button {
        background:none !important;
    }
    .prefs-button button {
        fill: var(--theme-background-secondary) !important;
    }
    .prefs-button button:hover, .prefs-button button:focus {
        background-color: var(--theme-background-primary) !important;
    }
    .contentSearchSuggestionTable {
        display: none !important;
    }
}

:root {
    --in-content-border-active: var(--theme-background-disabled) !important;
    --in-content-border-active-shadow: none !important;
}
