:root {
    --toolbar-non-lwt-bgcolor: var(--toolbar-bgcolor) !important;
    --toolbar-non-lwt-textcolor: var(--toolbar-color) !important;
    --newtab-background-color: var(--theme-background-primary);
}
:root:-moz-any(:-moz-lwtheme-brighttext, [privatebrowsingmode=temporary]) {
    --toolbar-field-background-color: var(--theme-background-primary) !important;
    --toolbar-field-hover-background-color: var(--theme-background-primary) !important;
    --toolbar-field-focus-background-color: var(--theme-background-disabled) !important;
}

:root[style*="--lwt-accent-color:rgb(12, 12, 13);"],
:root[privatebrowsingmode=temporary] {
    --lwt-accent-color: var(--theme-background-primary) !important;
    --lwt-text-color: var(--theme-text-primary) !important;
    --toolbar-bgcolor: var(--theme-background-secondary) !important;
    --toolbar-color: var(--theme-text-primary) !important;
    --toolbox-border-bottom-color: var(--theme-background-primary) !important;
    --chrome-content-separator-color: var(--theme-background-primary) !important;
    --lwt-toolbarbutton-icon-fill-attention: var(--theme-text-primary) !important;
    --lwt-toolbarbutton-hover-background: var(--theme-background-secondary) !important;
    --lwt-toolbarbutton-active-background: var(--theme-background-disabled) !important;
    --arrowpanel-background: var(--theme-background-secondary) !important;
    --arrowpanel-border-color: var(--theme-background-secondary) !important;
    --autocomplete-popup-border-color: var(--theme-background-secondary) !important;
    --autocomplete-popup-highlight-background: var(--theme-background-secondary) !important;
}

browser[type="content-primary"],
browser[type="content"] {
    background: var(--theme-background-primary) !important;
}

:-moz-any(#sidebar-box, #sidebar)[style*="--sidebar-background-color:rgb(56, 56, 61);"] {
    --sidebar-background-color: var(--theme-background-secondary) !important;
    --sidebar-text-color: var(--theme-text-primary) !important;
}

:-moz-any(.sidebar-panel, body)[style*="--lwt-sidebar-background-color:rgb(56, 56, 61);"] {
    --lwt-sidebar-background-color: var(--theme-background-secondary) !important;
    --lwt-sidebar-text-color: var(--theme-text-primary) !important;
}

#urlbar[focused], #searchbar[focused] {
    border: 2px solid var(--theme-background-disabled) !important;
}

*::selection {
    background: var(--theme-text-secondary);
}

::cue {
    background-color: var(--theme-background-secondary);
}

#statuspanel-label {
    background: var(--theme-background-primary) !important;
    border: 0px;
}
